<div class="row">
	<div class="col-md-6">
		<div id="panel" class="panel panel-default">
			<div><p id="panel-image"><%= image_tag "about.jpg", width: 300, class: "img-responsive" %></p><p id="contact-body">Pictured above, is me, Leila. I’m nineteen and have had this blog for eight years. It’s gone through a lot of phases. It started out as a blog about the 80% fictional “adventures” of my alter-ego Sheila. She was a paper doll. So I guess, strap in?</p></div>
		</div>
	</div>
	<div class="col-md-6">
		<div id="panel" class="panel panel-default">
			<div><p id="panel-image"><%= image_tag "rosalind.jpg", width: 300, class: "img-responsive" %></p><p id="contact-body">This is “Rosalind as Ganymede.” It’s just a dumb Shakespeare reference I used when this was briefly a street fashion blog. I really liked menswear inspired fashion for a week several years ago, and now people just think my name’s Rosalind.</p></div>
		</div>
	</div>
</div> 