<div class="jumbotron">
	<h1>About Rosalind as Ganymede</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">About Me</div>
			<div class="panel-body"><p>Pictured above, is me, Leila. I’m nineteen and have had this blog for eight years. It’s gone through a lot of phases. It started out as a blog about the 80% fictional “adventures” of my alter-ego Sheila. She was a paper doll. So I guess, strap in?</p></div>
			<div class="panel-footer"></div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">About Rosalind as Ganymede</div>
			<div class="panel-body"><%= image_tag "rosalind.jpg", class: "img-responsive" %><p>This is “Rosalind as Ganymede.” It’s just a dumb Shakespeare reference I used when this was briefly a street fashion blog. I really liked menswear inspired fashion for a week several years ago, and now people just think my name’s Rosalind.</p></div>
			<div class="panel-footer"></div>
		</div>
	</div>
</div> 

