 <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div id="panel" class="panel-body">
          <img id="contact" src="assets/images/profile.jpg" width="200" alt="contact">
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <ul>
              <li id="b"><a class="btn btn-primary btn-lg" href="https://www.facebook.com/profile.php?id=100010390513573" target="_blank">Facebook <span class="glyphicon glyphicon-thumbs-up"></span></a></l1>
              <li id="b"><a class="btn btn-primary btn-lg" href="mailto:leilajacob@me.com" target="_blank">Email <span class="glyphicon glyphicon-envelope"></span></a></li>
              <li id="b"><a class="btn btn-primary btn-lg" href="https://twitter.com/actualchocolate" target="_blank">Twitter</a></li>
              <li id="b"><a class="btn btn-primary btn-lg" href="https://www.pinterest.com/actualchocolate/" target="_blank">Pinterest</a></li>
            </ul>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div id="panel" class="panel-body">
              <img id="easel" src="assets/images/easel.jpg" alt="easel">
            </div>
          </div>
        </div>
      </div>