<div class="row">
	<%= @gallery_images.shuffle.each do |image| %>
	<div class="col-md-6">
		<div id="panel" class="table responsive">
			<div class="panel-body"><%= image_tag image, class: "img-responsive" %></div>
		</div>
	</div>
	<% end %>
</div>