<div class="row">
	<div class="col-md-4">
		<div id="panel" class="panel panel-default">
			<div><p id="panel-image"><a href="http://www.amazon.com/gp/product/1936096765/ref=s9_simh_gw_p14_d0_i1?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=desktop-1&pf_rd_r=1WYX4EEKW5W21HBE4431&pf_rd_t=36701&pf_rd_p=2079475242&pf_rd_i=desktop" target="_blank"><h3>60 Quick Luxury Knits</h3></p><%= image_tag "60-quick.jpg", width: 300, class: "img-responsive" %><p id="contact-body"></p></div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="panel" class="panel panel-default">
			<div><p id="panel-image"><a href="http://www.ravelry.com/designers/leila-jacob" target="_blank"><h3>My Patterns</h3></p><%= image_tag "blue-scarf.jpg", width: 300, class: "img-responsive" %><p id="contact-body"></p></div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="panel" class="panel panel-default">
			<div><p id="panel-image"><a href="https://leilajacob.wordpress.com/category/knitting-2/" target="_blank"><h3>Knitting Blog</h3></p><%= image_tag "knitting-blog.jpg", width: 300, class: "img-responsive" %><p id="contact-body"></p></div>
		</div>
	</div>
</div> 


