<div class="jumbotron"> 
	<h1>Knitting</h1>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><p>60 Quick Luxury Knits</p></div>
			<div id="contact" class="panel-body"><%= image_tag "60-quick.jpg", class: "img-responsive" %></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><p>Octopus</p></div>
			<div id="contact" class="panel-body"><%= image_tag "octopus.jpg", class: "img-responsive" %></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><p>Christmas Stocking</p></div>
			<div id="contact" class="panel-body"><%= image_tag "christmas-stocking.jpg", class: "img-responsive" %></div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading"><p>Diamond Scarf</p></div>
			<div id="contact" class="panel-body"><%= image_tag "blue-scarf.jpg", class: "img-responsive" %></div>
		</div>
	</div>
</div>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
